/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}


// style codeglance item
// add a little border to more easily distinguish what is code we're at and what we're glancing at
minimap-codeglance {
  border: 4px solid black;
}


// italisize comments
atom-text-editor .syntax--comment {
  font-style: italic;
}


// show cursor line, both in minimap and in editor
.minimap .cursor-line {
  background: #fff;
}

.cursor-line {
  background:#2a2a2a;
}


// make the active pane more visible, and the active tab also more visible
atom-pane:not(.active) {
  opacity: .7;
  border: 2px solid transparent;
}

atom-pane.active {
  border: 2px solid @base-border-color;
}

.tab-bar > .tab.active {
  font-weight: bold;
  border-left: 2px solid @base-border-color;
}

.tab-bar > .tab {
  background-color: #373737;
  border-left: 2px solid #444;
}

// fix outlander theme coloring const and let the same as variable names
.syntax--storage.syntax--type.syntax--js {
  color: #cc99cc;
}
// slightly shade the area of the editor blocked by the minimap
.minimap-controls {
  background-color: rgba(0,0,0,0.1)
}

atom-text-editor .gutter .line-number {

  &.git-line-added, &.git-line-modified, &.git-line-removed {
  border-left-width: 4px ;
  padding-left: 3px ;
  }

  &.git-line-removed::before {
    border-left-width: 16px;
  }
}

// .syntax--meta.syntax--brace.syntax--js {
//   &.syntax--round {
//     color: #f00;
//   }
//   &.syntax--curly {
//     color: #0f0;
//   }
//   &.syntax--square {
//     color: #00f;
//   }
// }
